@charset "UTF-8";
/* CSS Document */

body {
	background-color: bisque;
	text-align: center

}

#main {
	width: 1000px;
	height: 600px;
	background-image: url("Images/Circuit_faded.png");
	margin: 25px auto;
	border: solid 4px #000000;
	padding: 10px;
	
}

h1 {
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font: 35pt;
	font font-weight: bold;
	color: black;
	
}

h2{
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font: 20pt lighter;

	
}

hr {
	height: 2px;
	color:black;
	background-color: black;
	
}

p{
	font-family: "Andale Mono";
	font-size: 12pt;
	text text-indent: 48px;
	color:white;
}

.button {
	width: 300px;
	height: 80px;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: black;

	
}

.button > p{
	text-align: center;
	font-weight: bold;
	text text-decoration: none;
}

.wrapper > div{

	padding: 1em;
	
}

.wrapper{
	display:grid;
	grid-template-columns: 40% 60%
}



.row {
  display: flex;
	border border-radius: 50px;
}

.column {
  flex: 33.33%;
  padding: 5px;
	border border-radius: 50px;
}

.parrafohist {
	font color:black;
	font-size: 22px;
}